body{
	background-color:white;
	color: blue;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
p{
	color:blue;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.4;  
}
